---
import PostCard from "@/components/PostCard.astro"
import Layout from "@/layouts/Layout.astro"
import { getPostEntries } from "@/lib/posts"

const posts = await getPostEntries()
---

<Layout title="Posts">
  <main
    class="relative mx-auto my-12 flex w-full max-w-2xl flex-grow flex-col gap-16 px-8"
  >
    <section class="mx-auto flex w-full max-w-md flex-col items-center gap-4">
      <h2 class="font-serif text-4xl font-bold">Posts</h2>
      {
        posts
          .filter((post) => post.props.entry.data.genre === "article")
          .map((post) => (
            <PostCard
              title={post.props.entry.data.title}
              tags={post.props.entry.data.tags ?? []}
              href={"/posts/" + post.params.slug}
              icon={post.props.entry.data.icon}
              alt={post.props.entry.data.title}
              transition:name={`post-/posts/${post.params.slug}`}
            />
          ))
      }
    </section>
    <section class="mx-auto flex w-full max-w-md flex-col items-center gap-4">
      <h2 class="font-serif text-4xl font-bold">Slides</h2>
      {
        posts
          .filter((post) => post.props.entry.data.genre === "slide")
          .map((post) => (
            <PostCard
              title={post.props.entry.data.title}
              tags={post.props.entry.data.tags ?? []}
              href={"/posts/" + post.params.slug}
              icon={post.props.entry.data.icon}
              alt={post.props.entry.data.title}
              transition:name={`post-/posts/${post.params.slug}`}
            />
          ))
      }
    </section>
  </main>
</Layout>
