---
import { getStaticPaths } from "../../[...slug]/_lib/routing"

export { getStaticPaths }

const { entry } = Astro.props
const urlToRedirect = `${Astro.site?.href}/posts/${entry.slug}.mdx`
---

<!doctype html>
<title>Redirecting to: {urlToRedirect}</title>
<meta http-equiv="refresh" content={`0;url=${urlToRedirect}`} />
<meta name="robots" content="noindex" /><link
  rel="canonical"
  href={urlToRedirect}
/>
<body>
  <a href={urlToRedirect}
    >Redirecting from <code>/posts/raw/{entry.slug}/</code> to
    <code>{urlToRedirect}</code></a
  >
</body>
