---
import Tooltip from "@/components/Tooltip.astro"
import { getPostEntries, type Post } from "@/lib/posts"
import Toc from "@/components/Toc.astro"
import Icon from "@/components/Icon.astro"
import Callout from "@/components/markdown/Callout.astro"
import { isDev } from "@/lib/dev"
import PostLayout from "@/layouts/PostLayout.astro"
import CodeBlock from "@/components/markdown/code_block/CodeBlock.astro"
import Embed from "@/components/markdown/link/Embed.astro"
import Blockquote from "@/components/markdown/Blockquote.astro"

export async function getStaticPaths() {
  const posts = await getPostEntries()
  return posts
}

type Props = Post["props"]

const { entry } = Astro.props
const { Content, headings } = await entry.render()

const formatDate = (date: Date) =>
  new Date(date).toLocaleDateString("ja-JP", {
    year: "numeric",
    month: "2-digit",
    day: "2-digit",
  })
---

<PostLayout title={entry.data.title}>
  <main
    class="mx-auto my-20 flex w-full max-w-5xl flex-col gap-16 px-6"
    transition:name={`post-/posts/${entry.slug}`}
  >
    <div class="flex flex-col items-center justify-center">
      <Icon class="w-24" icon={entry.data.icon} />
      <h1
        class="mb-6 mt-4 text-center text-3xl font-black lg:text-4xl"
        set:html={entry.data.title}
      />
      <div class="flex flex-col items-center justify-center gap-4">
        <div class="flex flex-row gap-1 text-gray-500">
          <p class="flex flex-row items-center gap-1">
            <span class="icon-[lucide--calendar-days] text-xl"></span>
            <span>{formatDate(entry.data.publishedAt)} に公開</span>
          </p>
          {
            entry.data.updatedAt && (
              <>
                ・
                <div>
                  <Tooltip>
                    <p slot="trigger" class="flex flex-row items-center gap-1">
                      <span class="icon-[lucide--refresh-ccw] text-lg" />
                      <span>{formatDate(entry.data.updatedAt)}</span>
                    </p>
                    <p
                      slot="content"
                      class="mt-7 rounded-lg bg-neutral-800 px-2 py-1 text-sm text-neutral-200"
                    >
                      最終更新日
                    </p>
                  </Tooltip>
                </div>
              </>
            )
          }
        </div>
        <div
          class="flex flex-row gap-1 text-gray-500 transition hover:text-gray-700 dark:hover:text-gray-400"
        >
          <a
            class="underline hover:cursor-pointer"
            href={`/posts/${entry.slug}/raw`}
          >
            Markdownファイル
            <span class="icon-[lucide--external-link]"></span>
          </a>
        </div>
      </div>
    </div>
    <div
      class="mx-auto flex w-full max-w-full flex-col gap-12 md:flex-row md:gap-6 lg:gap-16"
    >
      <div
        class="prose order-2 max-w-none flex-shrink flex-grow overflow-auto dark:prose-invert"
      >
        {
          entry.data.draft && isDev() && (
            <Callout type="warning" title="この記事はドラフトです">
              現在、ドラフトの記事を表示しています。プロダクションビルドには含まれません。
            </Callout>
          )
        }
        <Content
          components={{
            pre: CodeBlock,
            embed: Embed,
            blockquote: Blockquote,
          }}
        />
      </div>
      <div class="order-1 w-full md:order-2 md:w-fit">
        <Toc headings={headings} class="sticky top-20" />
      </div>
    </div>
  </main>
</PostLayout>
