---
import "@/styles/katex.css"

import type { GetStaticPaths } from "astro"
import { getCollection } from "astro:content"

import { RootLayout } from "@/components/layouts"
import { components } from "@/components/mdx-components"
import { cn } from "@/lib/utils"

import { PostHeader } from "./_components"

export const getStaticPaths = (async () => {
  const posts = await getCollection("posts", ({ data }) =>
    import.meta.env.DEV ? true : !data.draft
  )
  return posts.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }))
}) satisfies GetStaticPaths

const { entry } = Astro.props

const { Content } = await entry.render()
---

<!-- todo: change example.com to valid ogp image url -->
<RootLayout
  title={entry.data.title}
  image={new URL("https://example.com")}
  og={{ type: "article" }}
>
  <div class="my-12 grid gap-20" data-margin="true">
    <PostHeader
      slug={entry.slug}
      title={entry.data.title}
      icon={entry.data.icon}
      tags={entry.data.tags ?? []}
      publishedAt={entry.data.publishedAt}
      updatedAt={entry.data.updatedAt}
    />
    <div
      class={cn(
        "*:w-full *:my-6 first:*:mt-0 [&>:is(ul,ol)_:is(li,li>*)]:my-4 mx-5",
        "[&>:is(h1,h2):not(:first-child)]:mt-16",
        "[&>:is(h3,h4):not(:first-child)]:mt-12"
      )}
    >
      <Content {components} />
    </div>
  </div>
</RootLayout>
