---
import Iconify from "@iconify/iconify"

interface Props {
  icon: string
  alt?: string
  class?: string
  pagefindImage?: boolean
}

const {
  icon,
  alt,
  class: className,
  pagefindImage = false,
  ...props
} = Astro.props

const svg2dataUrl = (svg: string) =>
  `data:image/svg+xml;charset=UTF-8,${encodeURIComponent(svg)}`

const getIconSvg = async (icon: string, alt?: string) => {
  await Iconify.loadIcon(icon)

  const iconData = Iconify.getIcon(icon)
  if (!iconData) throw new Error(`Icon ${icon} not found`)

  return (
    `<svg xmlns="http://www.w3.org/2000/svg" viewBox="${iconData.left} ${iconData.top} ${iconData.width} ${iconData.height}" fill="none" style="width:100%">` +
    `<title>${alt ?? icon}</title>` +
    iconData.body +
    "</svg>"
  )
}

const svg = await getIconSvg(icon, alt)
---

<div
  set:html={svg}
  class={className}
  data-pagefind-meta={pagefindImage ? `image:${svg2dataUrl(svg)}` : undefined}
  {...props}
/>
