---
import NavBar from "../components/NavBar.astro"
import { ViewTransitions } from "astro:transitions"
import { Toaster } from "@/components/ui/toaster"

export type Props = {
  title: string
  description?: string
  /** url of og:image */
  ogImage?: string
  ogType?: "website" | "article" | "profile" | "book" | "music" | "video"
  ogUrl?: string
  twitterCard?: "summary" | "summary_large_image" | "app" | "player"
  twitterSite?: string
}

const {
  title: titleProps,
  description = "Tech blog by Rai",
  ogImage,
  ogType = "website",
  ogUrl = Astro.url.href,
  twitterCard = "summary",
  twitterSite = "@r4ai_jp",
} = Astro.props

const title = `${titleProps} | r4ai.dev`
---

<script is:inline>
  const setupTheme = () => {
    const theme = (() => {
      if (typeof localStorage !== "undefined") {
        const theme = localStorage.getItem("theme")
        if (theme === "dark" || theme === "light" || theme === "system") {
          return theme
        }
      }
      return "system"
    })()
    switch (theme) {
      case "dark":
        resolvedTheme = "dark"
        document.documentElement.classList.add("dark")
        break
      case "light":
        resolvedTheme = "light"
        document.documentElement.classList.remove("dark")
        break
      case "system":
        if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
          resolvedTheme = "dark"
          document.documentElement.classList.add("dark")
        } else {
          resolvedTheme = "light"
          document.documentElement.classList.remove("dark")
        }
        break
    }
    localStorage.setItem("theme", theme)
  }
  setupTheme()
  document.addEventListener("astro:after-swap", setupTheme)
</script>

<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="description" content={description} />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    {ogImage && <meta property="og:image" content={ogImage} />}
    <meta property="og:type" content={ogType} />
    <meta property="og:url" content={ogUrl} />
    <meta name="twitter:card" content={twitterCard} />
    <meta name="twitter:site" content={twitterSite} />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    {ogImage && <meta name="twitter:image" content={ogImage} />}
    <ViewTransitions />
  </head>
  <body class="flex h-full flex-col">
    <NavBar transition:persist />
    <slot />
    <footer transition:persist>
      <p class="mb-8 text-center">
        Copyright &copy; 2023 rai - All right reserved
      </p>
    </footer>
    <Toaster client:only="react" />
  </body>
</html>
